
 h1 {
    text-align: center;
    font-size: 45px;
    color:red ;
    margin-top:60px;
    margin-bottom: 20px;
    font-weight: bold;
}

h3{
    font-size: 30px;
    color:red;
    margin-top:20px;
    font-weight: bold;

}

body{
    background-color: #99d6ff;
    margin: 20px;
}

p{
    color: #0069cc;
    margin-top: 20px;
}

main{text-align: center;}
main section img{
    width: 150px;   
}

main section:first-child{
    width: 50%;
    margin-bottom: 150px;
    margin-left: 25%;
}


 

main section:nth-child(2){
    width: 33.33%;
    float: left;
    
    
    
}

ul{
    list-style-type: circle;
    color: #0069cc;
    margin-top: 20px;
    
}

main section:nth-child(2) img{
    width:105px;
}

main section:nth-child(3){
    width: 33.33%;
    float: left;
}

main section:nth-child(3) img{
    width: 90px;
}


main section:nth-child(4){
    width: 33.33%;
    float: right;
}

main section:nth-child(4) img{
    width:75px ;
}
main section:nth-child(5){
    width: 33.33%;

}


main section:nth-child(5) img{
    width:113px;
    padding-top: 130px;
}



 ol{
    list-style: style;
    margin-top: 30px;
    margin-left: 200px;
    text-align: left;
    color: #0069cc;
}

 body footer{
    margin-top: 10%;
    text-align: center;
    color: white;
    background-color:#0069cc ;
    font-weight: bold;
}